@model IEnumerable<MoviesDBManager.Models.Actor>
@{
    ViewBag.Title = "Index";
}
<div class="prevent-select">
    <h2>Acteurs @Helper.IconCmd("Actors", "Create", "fa-plus-square", "Ajouter...")</h2>

    <hr />
    <div id="ActorsContainer" class="ActorsContainer"> <!-- Refreshed periodically --> </div>
</div>
@section Scripts {
    <script defer>
        PartialRefresh.setTimeOutPage("@Url.Action("End","Session")");
        let actors = new PartialRefresh("@Url.Action("Actors", "Actors")", "ActorsContainer", 15);
    </script>
}
